<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="MisteioCloudinaryBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="/Tests/App" />
    </php> 
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
